<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore necessitatibus sed repellat est consequuntur eum nemo fugit iusto nostrum beatae ipsam saepe et nesciunt vitae libero rem, quod ex laudantium ut alias cumque sunt qui officiis non. Atque, nemo illo.</p>
    </div>
</div>