<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam atque suscipit exercitationem. Corrupti fugiat nisi, dolores quisquam obcaecati dolorem repudiandae vitae omnis mollitia cum maiores temporibus praesentium beatae incidunt suscipit?</p>
    <a href="" class="btn btn-primary btn-lg">Bienvenido</a>
</div>