<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App</h1>
    <hr class="my-4">
    <p class="lead">Aplicación donde puedes crear tu propia cuenta para guardar tus notas</p>
    <a href="/users/signin" class="btn btn-primary btn-lg">Ingresa!</a>
</div>