<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h4>Account Login</h4>
            </div>
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <input type="email" name="email" class="form-control mb-4" placeholder="Email" autofocus>
                    <input type="password" name="password" class="form-control mb-4" placeholder="Password">
                    <button class="btn btn-primary" type="submit" style="width: 100%;" >SignIn</button>
                </form>
            </div>
        </div>
    </div>
</div>