
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4>Account Register</h4>
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <input type="text" class="form-control mb-4" name="name" placeholder="Name" value="{{ name }}">
                    <input type="email" class="form-control mb-4" name="email" placeholder="Email" value="{{ email }}">
                    <input type="password" class="form-control mb-4" name="password" placeholder="Password">
                    <input type="password" class="form-control mb-4" name="confirm_password" placeholder="Password">
                    <button type="submit" class="btn btn-primary" style="width: 100%;">SignUp</button>
                </form>
            </div>
        </div>
    </div>
</div>